

   <% include ./partials/header %>
<body>
	<h1 id="h1">
		MEDIHUB
	</h1>
	<h3 id="h3 class="container>
		<div>
			ALL IN ONE PLACE 
		</div>
		<div>
			FOR YOUR ENTIRE
		</div>
		<div>
			MEDICAL HISTORY!!!
		</div>
		 
		
	</h3>

    <style>
		body{
		background:url("https://medtechboston.medstro.com/wp-content/uploads/2015/03/physicianmiseryindex.jpg");
			background-size: cover;
		}
		#h3{
			text-align:center;
			font-size:50px;
			padding:50dingpx 60px;
			color:blue;
		}
	</style>
   <% include partials/footer %>